{% extends "layout_2.html" %}
{% block content %}
<main role="main" class="container">


  <style>
  .services-logo {
    margin: 10px;
    color: #85A99B;
    font-size: 80px;
    padding: 30px;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border: solid;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 10px
  }
  .services-logo:hover {
    color: white;
    background-color: #85A99B;
  }
  </style>
    <section id="about" class="bg" >
      <div class="container" >
        <div class="row">
          <div class="col-lg-12 text-center" style="padding-bottom: 3%" id="about_me_heading">
              <p style="display:inline; font-size: 35px">ABOUT ME</p>
            <hr style="width: 100px; height: 1px; border:none;color:#d9d9d9;background-color:#d9d9d9;">
            <center><h3 style="max-width: 75%;  line-height: 27px;" class="section-subheading text-muted"><i>computational biology</i> &nbsp | &nbsp <i>data visualization</i> &nbsp | &nbsp <i>statistics</i> &nbsp | &nbsp <i>coding</i></h3></center>
          </div>
        </div>

      <div class="row">

        <div class="col-lg-4 text-center" id="about_text">
          <img height="150px" width="150px" class="about_me_image" style="display:inline; margin-bottom: 20px; margin-right: 10px; margin-left: 10px" src="static/taylor_wedding.png">
          <h4>My Life</h4>
          <p>Originally from Colorado, I moved to Vancouver in 2014 to pursue a degree in life sciences at the University of British Columbia. I graduated in 2019 with a degree in Biology (Cell Biology and Genetics) and a minor in Microbiology & Immunology. My primary interests are in epigenetics, immunology (specifically autoimmunity and allergies), and data analysis, but a relatively newfound passion in coding has shifted those interests towards the computational tools that can be applied to better understand the underlying biological concepts. This has led me to undertake a second bachelor’s degree program at UBC, where I will continue to expand and acuminate my skills in coding and statistics. Following this degree, I hope to pursue graduate studies and research in computational biology.<br><br> </p>
        </div>

        <div class="col-lg-8 text-center">

          <div class=class="row justify-content-end" style="display: flex; justify-content: center;">
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
            <div class='dna'>
              <div class='d'></div>
              <div class='n'></div>
              <div class='a'></div>
            </div>
          </div>

          <a data-toggle="modal"><h4>This Website</h4></a>
          <p>The purpose of this website – other than it being a fun introduction to the Flask framework in Python, HTML, CSS, and JavaScript – is to provide a home for some of the ideas, projects, and random tidbits in my life that I enjoy working on. The website will stress the visualization of data because I believe that it carries an underappreciated influence in how a qualitative/quantitative finding is translated into meaningful interpretations. Additionally, the visualization of data is likely to be an area where the exponential increase in the amount of data generated necessitates major growth in the methods and processing of data. Thus, the website may in some sense act as a repository for some of the challenges and boundaries that are currently in place.</p>
          <p>In terms of the content of this website, a large majority of the data analysis will be conducted using the R statistical programming language, as the data visualization capabilities and Bioconductor network make it a powerful tool in analyzing biological data. Other programming languages or auxiliary systems (e.g. command-line interpreters) that will be in the scope of this website in the long run include: Python, SQL, Linux, Git, etc...</p>
          <p>Something that I have come to enjoy from a data analysis perspective is the application of computational tools to everyday (mundane) events in my life (i.e. reading, biking, commuting, etc.). This practice has served as a great way to execute different types of visualizations and analyses, and it has pushed me to explore a variety of new representations of data.</p>
          <p>The pages on the website will be under constant revision, as I want the quality of the code making up the website, and its content, to reflect the continual progression of my understanding in computing.<br><br></p>
        </div>

        </div>
      </div>
    </section>
</main>
{% endblock content %}