{% extends "layout_2.html" %}
{% block content %}
<div id="particles-js"></div>
<div class="textlanding">
    <img height="275px" width="1000px" class="header_image responsive" src="static/header_transparent.png" id="header_image">
    <hr style="width: 500px; height: 1px; border:none;color:#d9d9d9;background-color:#d9d9d9;">
    <p>Welcome to my website!</p><br>
    <p style="display:inline; font-size: 14px">CURRENTLY UNDER DEVELOPMENT.</p>
</div>

<script src="static/particles.js"></script>
<script src="static/appHome.js"></script>
{% endblock content %}