<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Abel|Darker+Grotesque|Montserrat|Muli:200|Quicksand|Raleway&display=swap" rel="stylesheet">


    {% if title %}
        <title>BKiyota | {{ title }}</title>
    {% else %}
        <title>BKiyota</title>
    {% endif %}
</head>
<body>
        <!---NAVIGATION--->
    <nav class="navbar navbar-expand-md navbar-9 fixed-top" id="mainNav">
        <a class="navbar-brand abs navbar-header" href="/" id="WebTitle">
            BKiyota
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right text-uppercase">
                <li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('about') }}">About</a></li>
                <li class="nav-item"><a class="nav-item nav-link disabled" id="disabled" href="#">Projects</a></li>
                <li class="dropdown"><a class="nav-item nav-link" href="{{ url_for('career') }}">Career</a>
                <li class="dropdown"><a class="nav-item nav-link" href="javascript:void(0)" class="dropbtn">Personal</a>
                    <div class="dropdown-content">
                        <a class="nav-item nav-link" href="{{ url_for('book_log') }}">Reading log</a>
                        <a class="nav-item nav-link disabled" id="disabled" href="#">Biking</a>
                        <a class="nav-item nav-link disabled" id="disabled" href="#">Commuting</a>
                        <a class="nav-item nav-link" href="{{ url_for('travels') }}">My Travels</a>
                    </div>
            </ul>
                <!-- Navbar Right Side -->
        </div>
    </nav>



    <div class="row">
        {% block content %}{% endblock %}
    </div>





    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="text-uppercase mb-4" id="footer-heading">Website Production</h5>
            <p>This website is built using the Flask Python framework. It is deployed and hosted on SSD Linux servers through Linode LLC.</p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="text-uppercase mb-4" id="footer-heading">Career</h5>
            <ul class="list-unstyled">
              <li><p><a href="{{ url_for('career') }}">RESUME</a></p></li>
              <li><p><a href="{{ url_for('career') }}">EDUCATION</a></p></li>
              <li><p><a href="{{ url_for('career') }}">PUBLICATIONS</a></p></li>
              <li><p><a href="{{ url_for('career') }}">PRESENTATIONS</a></p></li>
            </ul>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="text-uppercase mb-4" id="footer-heading">Contact Information</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                  <i class="fa fa-map-pin mr-3"></i>Vancouver, BC</p>
              </li>
              <li>
                <p>
                  <i class="fa fa-envelope mr-3"></i>brettckiyota@gmail.com</p>
              </li>
              <li>
                <p>
                  <i class="fa fa-mobile mr-3"></i>+1 (604) 603-4438</p>
              </li>
            </ul>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
            <h5 class="text-uppercase mb-4" id="footer-heading">Find me at:</h5>
            <a type="button" href="https://www.facebook.com/TterbAtoyik" class="btn-floating btn-fb" id="footer-buttons">
              <i class="fa fa-facebook"></i>
            </a>
            <a type="button" href="https://github.com/bkiyota" class="btn-floating btn-github" id="footer-buttons">
              <i class="fa fa-github"></i>
            </a>
            <a type="button" href="https://www.linkedin.com/in/brett-kiyota-5024b6ab/" class="btn-floating btn-linkedin" id="footer-buttons">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" id="copyright-footer">Last updated: 08 August 2019  |
        <a href="http://www.bkiyota.com/">www.bkiyota.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>