{% extends "layout_2.html" %}
{% block content %}
  <style>
  .services-logo {
    color: #B37559;
    font-size: 20px;
  }
  </style>
<div class="col-md-8 text-center" id="travels_text">
    <a data-toggle="modal"><i class="fa fa-map-pin services-logo"></i></a>
    <h4 id="travels_text_header">My Travels</h4>
    <p>Traveling and experiencing other cultures is something that I really enjoy, and I hope it's something I will get the opportunity to do more later in life. This dotted world map figure represents all the cities that I have traveled to in my life. It is produced using the <em>gganimate</em> package in R and the resulting output is in gif format.</p>
</div>
<div class="container-fluid" style="margin:5px;">
    <img src="static/my_travels.gif" width="100%" height="750px">
</div>
</div>
{% endblock content %}